@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
@import "tailwindcss";

:root {
  font-size: 62.5%;
}

* {
  margin: 0px;
  padding: 0px;
  outline: 0px;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
}

body {
  font-size: 1.8rem;
  font-family: "Nunito", sans-serif;
}

@theme {
  --color-primary: #003b8f;
  --color-background: #ffffff;
  --color-card: #ffffff;
}

@theme dark {
  --color-primary: #003b8f;
  --color-background: #09090b;
  --color-card: #0d1726;
}

@layer utilities {
  .scrollbar::-webkit-scrollbar {
    width: 0.8rem;
    height: 0.8rem;
  }

  .scrollbar::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 0.8rem;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: hsl(var(--primary));
    border-radius: 0.8rem;
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: hsl(var(--primary-foreground));
  }
}
